html {
  /* used once but handy in one place: */
  --mobPreview: 100px;
  --mobOffset: -50px;
  /* used multiple times: */
  --midPreview: 200px;
}
/*
  Microsoft Edge supports CSS variables.
  For IE 11, delete the variables and hard-code values below
  or try Aaron Barker's polyfill:
  https://github.com/aaronbarker/css-variables-polyfill
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #555;
}

/* ------- GALLERY PREVIEW STYLES ------- */

 #gallery {
  display: flex;
  justify-content: center;
}
#gallery figure {
  width: var(--midPreview);
  height: var(--mobPreview);
  overflow: hidden;
  border: 1px solid #666;
  margin: 5px;
}
#gallery figure:hover {
  border-color: #222;
}
#gallery img {
  width: 100%;
  height: var(--midPreview);
  margin-top: var(--mobOffset);
  object-fit: cover;
  object-position: center;
}

/* ------- LIGHTBOX STYLES ------- */

/* Hides the lightbox and figure and sets styles */
.lightbox {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: 9999;
  background: rgba(10,10,10,.8);
  transition: opacity .5s ease-in-out;
}
.lightbox figure {
  display: none;
  width: 90%;
  margin: 2% auto;
  padding: 10px 20px 10px 20px;
  background: #fff;
  box-shadow: 0 0 20px 0 #000;
}
.lightbox figcaption {
  margin-bottom: 0.5em;
  font-size: 0.75em;
}
.lightbox img {
  width: 100%;
  display: block;
}
.lightbox .close {
  display: block;
  float: right;
  text-decoration: none;
  font-weight: bold;
  color: #777;
}
.lightbox .close:hover {
  color: #000;
}

/* Shows the lightbox only when targeted */
.lightbox:target {
  opacity: 1;
  outline: none;
  top: 0;
}
.lightbox:target figure {
  display: block;
}

/* ------- GALLERY PREVIEW ABOVE MOBLE ------- */

@media (min-width: 450px) {
  #gallery figure {
    height: var(--midPreview);
    border-width: 2px;
  }
  #gallery img {
    margin-top: 0px;
    height: var(--midPreview);
  }
  .lightbox figcaption {
    font-size: 1em;
  }
}
