html {
  /* used once but handy in one place: */
  --mobPreview: 100px;
  --mobOffset: -50px;
  /* used multiple times: */
  --midPreview: 200px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

/* ------- GALLERY PREVIEW STYLES ------- */

 #gallery {
  display: flex;
  justify-content: center;
}
#gallery .item {
  width: var(--midPreview);
  height: var(--mobPreview);
  overflow: hidden;
  border: 1px solid #666;
  margin: 5px;
}
#gallery .item:hover {
  border-color: #222;
}
#gallery .item a img {
  width: 100%;
  height: var(--midPreview);
  margin-top: var(--mobOffset);
  object-fit: cover;
  object-position: center;
}

/* ------- LIGHTBOX STYLES ------- */

.lightbox {
  /* Hide the lightbox */
  opacity: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: rgba(10,10,10,.8);
  transition: opacity .5s ease-in-out;
}
.lightbox:target {
  /* Show the lightbox when targeted */
  opacity: 1;
  outline: none;
  top: 0;
}
.lightbox:target .box {
  display: block;
}
.lightbox .box {
  display: none;
  width: 90%;
 	margin: 2% auto;
  padding: 10px 20px 10px 20px;
  background: #fff;
  box-shadow: 0 0 20px 0 #000;
}
.lightbox .content {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.lightbox .content img {
  width: 100%;
  display: block;
  margin-top: 4px;
}
.lightbox .close {
  display: block;
  float: right;
  text-decoration: none;
  font-weight: bold;
  color: #777;
}
.lightbox .close:hover {
  color: #000;
}

@media (min-width: 450px) {
  #gallery .item {
    height: var(--midPreview);
    border-width: 2px;
  }
  #gallery .item a img {
    margin-top: 0px;
    height: var(--midPreview);
  }
}
